<div class="container">
	<div class="col-sm-4 col-xs-6" ng-repeat="post in posts | filter:search | filter:categoryFilter">
		<div class="post" ng-class="{shaddow: !post.hover}" ng-mouseenter="post.hover=true" ng-mouseleave="post.hover=false" ng-click="open(post)">
			<div class="height200px abs-contain text-center">
				<img class="img-center img-responsive" src="{{post.photo}}">
				<div class="price"><h4>{{post.price}}</h4></div>
			</div>
			<h3 class="ellipsis">{{post.title}}</h3>
		</div>
	</div>
</div>